* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: sans-serif;
}

header {
    height: 90px;
    position: fixed;
    width: 100%;
    background: #f6df7f;
}

.inner-width {
    max-width: 1000px;
    padding: 0 0;
    margin: auto;
}

.logo {
    float: left;
    padding: 4vh 04vh;
}

.logo img {
    height: 60px;
    margin: -2vh -22vh;
}

.navigation-menu {
    float: right;
    display: flex;
    align-items: center;
    min-height: 90px;
    margin: 0 -26vh;
    background: #f6df7f;
}

.navigation-menu::before {
    content: "";
    opacity: 0.3;
    z-index: -1;
}

.navigation-menu a {
    margin-left: 10px;
    color: #ddd;
    text-transform: uppercase;
    font-size: 14px;
    padding: 12px 20px;
    background: #172b4d;
    border-radius: 4px;
    transition: 0.3s linear;
}

.navigation-menu a:hover {
    background: #fff;
    color: #2f3640;
    transform: scale(1.1);
}

.navigation-menu i {
    margin-right: 8px;
    font-size: 16px;
}

.home {
    color: #ff6b6b;
}

.service {
    color: #0abde3;
}

.about {
    color: #feca57;
}

.contact {
    color: #5f27cd;
}

.client {
    color: #1dd1a1;
}

.call {
    color: #aad447;
}

.email {
    color: #9b36d6;
}

.menu-toggle-btn {
    float: right;
    height: 90px;
    line-height: 90px !important;
    color: #fff;
    font-size: 26px;
    display: none !important;
    cursor: pointer;
}

/* Screen 1030px */

@media screen and (max-width:1030px) {
    .logo {
        float: left;
        padding: 2vh 0vh
    }

    .logo img {
        height: 40px;
        margin: 0px;
    }

    .menu-toggle-btn {
        display: block !important;
        padding-right: 8vh;
    }

    .navigation-menu {
        position: fixed;
        width: 130%;
        max-width: 500px;
        background: #f6df7f;
        top: 90px;
        right: 0;
        display: none;
        padding: 20px 40px;
        box-sizing: border-box;
        margin: 0 0vh;
    }

    .fa-bars {
        color: black !important;
    }

    .navigation-menu::before {
        content: "";
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid #172b4d;
        position: absolute;
        top: -10px;
        right: 10px;
    }

    .navigation-menu a {
        display: block;
        margin: 16px 0;
    }

    .navigation-menu.active {
        display: block;
    }
}

@media screen and (max-width:930px) {
    .logo {
        float: left;
        padding: 4vh 4vh;
    }

    .logo img {
        height: 40px;
        margin: 0px;
    }

    .menu-toggle-btn {
        display: block !important;
        padding-right: 8vh;
    }

    .navigation-menu {
        position: fixed;
        width: 130%;
        max-width: 500px;
        background: #f6df7f;
        top: 90px;
        right: 0;
        display: none;
        padding: 20px 40px;
        box-sizing: border-box;
    }

    .fa-bars {
        color: black !important;
    }

    .navigation-menu::before {
        content: "";
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid #172b4d;
        position: absolute;
        top: -10px;
        right: 10px;
    }

    .navigation-menu a {
        display: block;
        margin: 16px 0;
    }

    .navigation-menu.active {
        display: block;
    }
}

@media screen and (max-width:480px) {
    .menu-toggle-btn {
        padding-right: 8vh;
    }

    .navigation-menu {
        width: 100%;
        font-size: 1.4rem;
        
    }
}